<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Portfolio_website</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="sidenav rounded">
        <div class="navbar-content">
            <a style=" font-size: 2vw; text-align: center;" asp-page="./Index">Home</a>
        </div>

        <div class="navbar-content">
            <a style=" font-size: 2vw; text-align: center;" asp-page="./Projects">Projects</a>
        </div>

        <div class="navbar-content">
            <a style=" font-size: 2vw; text-align: center;" asp-page="./ContactPage">Contact</a>
        </div>

        <div class="navbar-content">
            <a style=" font-size: 2vw; text-align: center;" asp-page="./AdminPage">Admin</a>
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Lars H M Portfolio
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
