@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <div class="row" style="margin-top: 2%;">
        <div class="col-3">
            <img src="~/Resources/AnsgningPic.jpg" class="rounded" style="width:200px; height:200px;" />
        </div>
        <div class="col-6">
            <h1>Lars Hørstrup Møller</h1>
            <h2>Programmer</h2>
        </div>
        <div class="col-3">
            <h2>Highlighted projetcs</h2>
            <a href="https://github.com/GoldiHD/AngelBorn">AngleBorn</a>
        </div>
    </div>
    <div style="margin-top:3%;">
        <h4 style="color: #ff6a00;">Mig</h4>
        <p style="width: 70%">Jeg er en ung og frisk fyr, med meget passion for sit arbejde og selvdisciplin.  Jeg er nørdet og sjov. Jeg står op for mig selv og er villig til at bevise havde jeg kan, når jeg får chancen til at gå til den. Jeg elsker og dykke ned i mit arbejde og gå løse. Mest fordi jeg kan godt lide udfordring der er i mit arbejde og finder mængden af struktur og arbejde med. Jeg kan godt lige og fokuser på mig selv på små dele af gang der samler sig til et stort system samlet.  Jeg prøver altid og få det bedste ud af en situation og ikke give op bare fordi det er lidt svært</p>
        <h4 style="color: #ff6a00; margin-top: 3%;">Fritid</h4>
        <p style="width: 70%">Jeg bruger min fritid på at være samme med mine venner.   Jeg spiller Dungeons and Dragons(5e) i weekenden med mine venner. Jeg prøver og presse lidt extra tid ind i ny og næ til at læse lidt som om det er fiction eller noget nyt jeg gerne ville lære om. Ellers bruger jeg tid på og lytte til musik, spille og arbejde med mine egne projekter</p>
    </div>
</div>

