@page
@model Portfolio_website.Pages.ContactPageModel
@{
    ViewData["Title"] = "ContactPage";
}

<h1 style="margin-top 2%">Contact</h1>
<h3 style="margin-top 2%">
    Email: <a href="mailto:lars.h.m@hotmail.com">lars.h.m@hotmail.com</a>
</h3>
<h3 style="margin-top 2%">
    LinkedIn: <a href="https://www.linkedin.com/in/larshm-77022a15a/">Lars Hørstrup Møller</a>
</h3>
<h3 style="margin-top 2%">
    Phone: +45 40229934
</h3>
