@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div style="margin-left: 8%">
    <div class="row" style="margin-top: 2%;">
        <div class="col-3">
            <img src="https://imageportforlio.blob.core.windows.net/images/ProfilePicture.jpg" class="rounded" style="width:18vw; height:18vw;" />
        </div>
        <div class="col-6">
            <h1 style="margin-top: 20%; margin-left: 5%; font-size: 2.5vw; text-align: left;">Lars Hørstrup Møller</h1>
            <h2 style="font-size: 2vw; margin-left: 5%; text-align: left;">Data technician - programmer</h2>
        </div>
        <div class="col-3" style="border: 2px solid #23272a; font-size: 1vw;">
            <p style=" font-size:2vw; font-weight:bold ;">Highlighted projetcs</p>
            <ul>
                <li>
                    <a href="https://github.com/GoldiHD/AngelBorn">Console RPG</a> <!-- re do these to link to the project page rather then the project  -->
                </li>
                <li>
                    <a href="https://github.com/GoldiHD/Project-Autumn">Basic chat program</a>
                </li>
                <li>
                    <a href="https://github.com/GoldiHD/LearningProject">C++/OpenGL Project</a>
                </li>
                <li>
                    <a href="https://github.com/GoldiHD/AsukaBot-2.0">Discord bot</a>
                </li>
            </ul>
        </div>
    </div>
    <div style="margin-top:3%;">
        <h4 class="Sub-Titles">Mig</h4>
        <p class="index-text-standard">Jeg er en ung og frisk fyr, med meget passion for sit arbejde og selvdisciplin.  Jeg er nørdet og sjov. Jeg står op for mig selv og er villig til at bevise havde jeg kan, når jeg får chancen til at gå til den. Jeg elsker og dykke ned i mit arbejde og gå løse. Mest fordi jeg kan godt lide udfordring der er i mit arbejde og finder mængden af struktur og arbejde med. Jeg kan godt lige og fokuser på mig selv på små dele af gang der samler sig til et stort system samlet.  Jeg prøver altid og få det bedste ud af en situation og ikke give op bare fordi det er lidt svært</p>
        <h4 class="Sub-Titles">Fritid</h4>
        <p class="index-text-standard">Jeg bruger min fritid på at være samme med mine venner.   Jeg spiller Dungeons and Dragons(5e) i weekenden med mine venner. Jeg prøver og presse lidt extra tid ind i ny og næ til at læse lidt som om det er fiction eller noget nyt jeg gerne ville lære om. Ellers bruger jeg tid på og lytte til musik, spille og arbejde med mine egne projekter</p>
        <h4 class="Sub-Titles">Nuværende</h4>
        <p class="index-text-standard">Jeg er i gang med datateknikker med special i programmering uddannelsen hos TECHCOLLEGE hvor jeg går mellem skolepraktik og skole.  Lige nu arbejder jeg ved skolepraktik.  Jeg ville begynde min sidste skole forløb den 26-10-2020</p>
        <h4 class="Sub-Titles">Arbejdes erfaring</h4>
        <ul>
            <li>
                <p class="index-text-standard">I en lille periode arbejde jeg med VRRehab</p>
            </li>
            <li>
                <p class="index-text-standard">Jeg har arbejde med VR I sammen hænge med at udvikle til kommunen [VR-udstilling på fremtidens plejehjem</p>
            </li>
            <li>
                <p class="index-text-standard">Jeg har erfaring med at udvikle i et team samt som team leder, i et SCRUM-miljø</p>
            </li>
        </ul>
        <h4 class="Sub-Titles">Hvorfor programmør</h4>
        <p class="index-text-standard">Jeg har valgt at blive programmør fordi jeg kan godt lige udforingen og at se alle de små opgaver blive samlet i et stort komplet program der udføre mere avancerede ting. samt kan jeg oså lige at se at folk kan bruge hvad jeg udvikler </p>
        <h4 class="Sub-Titles">Skills og kompetencer </h4>
        <ul>
            <li>
                <p class="index-text-standard">Flydende i dansk og engelsk</p>
            </li>
            <li>
                <p class="index-text-standard">C#</p>
            </li>
            <li>
                <p class="index-text-standard">Java</p>
            </li>
            <li>
                <p class="index-text-standard">Debugging or problemløsning</p>
            </li>
            <li>
                <p class="index-text-standard">.NET</p>
            </li>
            <li>
                <p class="index-text-standard">Windows Forms og WPF</p>
            </li>
            <li>
                <p class="index-text-standard">Implementere og arbejde med database i udviklingsprocessen</p>
            </li>
            <li>
                <p class="index-text-standard">Spil udvikling Og VR (Unity)</p>
            </li>
            <li>
                <p class="index-text-standard">Assembly</p>
            </li>

        </ul>
    </div>
</div>

<style>
    p.index-text-standard {
        width: 70%;
        font-size: 1vw;
    }

    h4.Sub-Titles {
        color: #ff6a00; 
        margin-top: 2%;
        font-size: 2vw;
    }
</style>
